<!DOCTYPE html>
<html>
<head>
  <title>Stocks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<% if @current_user %>
  <p>Hi <%= @current_user.email %>. <%= link_to 'Sign Out', signout_path, method: :delete %>
<% end %>
<%= yield %>
</div>

</body>
</html>
