<h1>Welcome! Sign up and get a free $50,000</h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.submit "Sign Up!", class: "btn btn-success btn-lg" %>
<% end %>
